Source: kvantum-theme-kvnitrux
Section: kde
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: kvantum-theme-kvnitrux
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nitrux theme for Kvantum
 Kvantum theme for Nitrux.
